{{ define "head" }}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .MetaAuthor }} | {{ .MetaTitle }}</title>
	<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
		integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
		crossorigin="anonymous"></script>
	<meta property="og:title" content="{{ .MetaTitle }}" />
	<meta name="author" content="{{ .MetaAuthor }}" />
	<meta property="og:locale" content="en_US" />
	<meta name="description" content="{{ .MetaDescription }}" />
	<meta property="og:description" content="{{ .MetaDescription }}" />
	<meta property="og:site_name" content="rauljordan" />
	<meta property="og:image" content="{{ .MetaImage }}" />
	<meta property="og:type" content="article" />
	<meta property="article:published_time" content="{{ .MetaDate }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="twitter:image" content="{{ .MetaImage }}" />
	<meta property="twitter:title" content="{{ .MetaTitle }}" />
	<meta name="twitter:site" content="{{ .MetaTwitter }}" />
	<meta name="twitter:creator" content="{{ .MetaTwitter }}" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<link rel="stylesheet" href="/css/style.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-53062950-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-53062950-12');
	</script>
</head>
{{ end }}
